    <footer id="footer-placeholder">
        <div class="footer-content">
            <h2>Остались вопросы?</h2>
            <a href="mailto:drider@inbox.lv" class="action-btn" style="margin-bottom: 20px;">Написать нам <i class="fa-regular fa-envelope"></i></a>
            
            <div class="footer-socials">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-telegram"></i></a>
            </div>
            
            <div class="footer-info">
                <p><i class="fa-solid fa-location-dot" style="color: var(--primary-color); margin-right: 8px;"></i> VIENĪBAS 17, Daugavpils</p>
                <p><i class="fa-solid fa-phone" style="color: var(--primary-color); margin-right: 8px;"></i> +371 22 479 780</p>
                <p><i class="fa-solid fa-envelope" style="color: var(--primary-color); margin-right: 8px;"></i> drider@inbox.lv</p>
            </div>
            
            <div class="copyright">
                © 2026 Drider. Все права защищены. Разработано с драйвом.
            </div>
        </div>
    </footer>