    <nav id="navbar">
        <a href="index.html" class="logo-img">
            <img src="logo-img.png" alt="Drider Logo">
        </a>
        
        <div class="nav-links">
            <a href="velo-page.html">Велоуслуги</a>
            <a href="karting-page.html">Картинг</a>
            <a href="moto-page.html">Мотокросс</a>
        </div>

        <div class="header-right">
            <div class="lang-switch">
                RU <i class="fa-solid fa-chevron-down"></i>
                <div class="lang-dropdown">
                    <a href="#">LV</a>
                    <a href="#">EN</a>
                </div>
            </div>
            <a href="tel:+37122479780" class="action-btn" style="padding: 8px 20px; font-size: 12px;">
                <i class="fa-solid fa-phone"></i>
            </a>
        </div>
    </nav>